<%- include('partials/header.ejs') %>
  <body>
    <div class="success_container">
      <div class="icon">
        
      </div>
      <h1>Thanks  For Subscribing!</h1>
      <p>
        A confirmation letter has been sent to <span><%= name %></span>.Please open it and click on the
        button inside to confirm your subsription
      </p>
      <a href="/"> <button>Dismiss Message</button></a>
    </div>
  </body>
</html>
